ul.subnav a i {
 padding-left: 10px;
}
.mainTile{
	margin-top: 20px;
}
.color-silver{
	background-color: #bdc3c7;
}
.color-cloud{
	background-color: #ecf0f1;
}
.max-height{
	height:100vh;
	overflow-x:hidden;
}
.min-100-width{
	min-width: 100px;
}
.active_small {
	background: none repeat scroll 0 0 rgba(85, 85, 85, 0.5);
}