ul.subnav a i {
 padding-left: 10px;
}
.noborder{
	border-width: 0px !important;
}
.mainSpace{
	padding-top: 40vh;
}
.mainTile{
	margin-top: 20px;
}

.imageBox{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 30px;
	margin-right: 30px;
}
.imgVA{
	padding-top: 11vh;
	text-align: center;
}

 .imgVA img {
    max-width: 100%;
    width: auto;
}

.infoBox{
	padding-top: 110px;
	padding-bottom: 10px;
	margin-left: 30px;
	margin-right: 30px;
}
.infoBoxSpace{
	padding-top: 75px;
	padding-left: 75px;
}
.color-silver{
	background-color: #bdc3c7;
}
.color-cloud{
	background-color: #ecf0f1;
}
.max-height{
	height:100vh;

}